<div id='sidebar'>
  <h2>Hashtag List</h2>
  <ul fade-me class='hashtaglist'>
    <li ng-repeat="hashtag in hashtags" ng-style="{color: hashtag.color}" pulse-me='{{hashtag.id}}'> {{ hashtag.id }} ({{ hashtag.value }})</li>
  </ul>
</div>
<div id="map"></div>