<!DOCTYPE html>
<html ng-app='hashtagapp'>
  <head>
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-animate.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/javascripts/main.js'></script>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/lib/leaflet.label.css'/>
    <link rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css' />
    <script src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js'></script>
    <script src='/javascripts/lib/leaflet.label.js'></script>
  </head>
  <body>
    <div class="container">
      <nav class="nav navbar-default"> 
        <a class="navbar-brand" href="/">Hashtag Location App</a>
      </nav>
    </div>
    <div class="container">
        <div class="col-xs-8">
          <div class="row" ng-controller="MapController"> 
            <div id="map"></div>
          </div>
        </div>
        <div class="col-xs-3">
          <div ng-controller="HashtagCloudController">
            <h2>Hashtag cloud</h2>
            <ol class='hashtagcloud' ng-show='show'>
              <li ng-repeat="hashtag in hashtags" ng-style="{color: hashtag.color}"> {{ hashtag.id }} : {{ hashtag.value }}</li>
            </ol>
          </div>
        </div>
    </div>
  </body>
</html>