/*body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

#map {
    height: 650px;
}

body {
	background-color: #F0F0F0;
}

#map { 
	width: inherit;
}

.container {
	max-width: none !important;
	width: 1400px;
}

.hashtaglist {
	font-size: 14px;
}

.hashtaglist > li {
	padding: 10px;
}